@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    background: none;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 0px; 
    padding: 0;
    margin: 0;
    margin-right: 60px; 
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 5px 10px;
}

/* work */
.contact-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}

.contact-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(to right, #839ce7, #311551); 
    -webkit-background-clip: text;  /* create text gradient effect */
    color: transparent;
    font-family: 'Emilys Candy', cursive;
}

.contact-info a {
    font-size: 1.5rem;
    color: #839ce7;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.contact-info a:hover {
    color: #4a2c6c;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

input, textarea {
    width: 96%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background: black;
    color: white;
}

button {
    width: 100%;
    background: #839ce7;
    color: black;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: #4a2c6c;
}

@media (max-width: 1024px) {
    .contact-container {
        margin: 70px auto;
    }
    button {
        width: 90%;
    }

    input, textarea {
        width: 86%;
    }
}

@media (max-width: 768px) {
    button {
        width: 80%;
    }

    input, textarea {
        width: 76%;
    }
}